<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="5" name="HeatAndNinjaSuite" parallel="tests">
	<suite-files>
		<suite-file path="./src/test/resources/suitefiles/ninjaStoreSuite.xml" />
		<suite-file path="./src/test/resources/suitefiles/heatClinicSuite.xml" />
	</suite-files>
</suite>